* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #6e6c6c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10px 20px;
    background: #000000d7;
    box-shadow: 6px 5px 2px 0 #5252525a;
    color: #fff;
    /* width: 350px; */
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.music-content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.audio-img {
    width: 200px;
    height: 200px;
    border-radius: 999px;
}

.audio-img img {
    width: inherit;
    height: inherit;
    border-radius: 999px;
    padding: 20px;
}

input[type = "range"] {
    width: 300px;
}

.music-buttons {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.music-buttons img {
    width: 40px;
}